<div class="content">
  <h3>{{title}}</h3>

  <br/>
  <div class="right">
    <a [ngClass]="'btn-floating btn-large waves-effect waves-light black-text yellow  btn modal-trigger pulse'" href="#modal1"><i mz-icon-mdi [icon]="'plus'" ></i></a>
  </div>
  <br/>

  <br/>

  <!-- Modal Structure -->
  <div id="modal1" [ngClass] = "'modal'">
    <div [ngClass] = "'modal-content'">
      <app-forms-entrepot></app-forms-entrepot>
    </div>
  </div>


  <table [ngClass]="'table_all striped'">
    <thead>
    <tr [ngClass]="'blue white-text'">
      <th [ngClass]="'white-text'">Nom</th>
      <th [ngClass]="'white-text'">Occupation</th>
      <th [ngClass]="'white-text'">capacite</th>
      <th [ngClass]="'white-text'">Modifier</th>
      <th [ngClass]="'white-text'">Supprimer</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let test of entrepotList">
      <td>{{ test.nom}}</td>
      <td>{{ test.occupation}}</td>
      <td>{{ test.capacite}}</td>
      <td><a href="{{test.nom}}">Modifier</a></td>
      <td><a href="{{test.nom}}">Supprimer</a></td>
    </tr>
    </tbody>
  </table>
</div>


